<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>Registro clientes</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>No. de identificación</mat-label>
        <input matInput />
      </mat-form-field>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Nombres</mat-label>
              <input matInput />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Correo electronico</mat-label>
              <input matInput />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Dirección 1</mat-label>
              <input matInput placeholder="Ex. San Francisco" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Dirección 2</mat-label>
              <input matInput placeholder="Ex. California" />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Telefóno Celular</mat-label>
              <input matInput placeholder="Ex. San Francisco" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Telefóno Fijo</mat-label>
              <input matInput placeholder="Ex. California" />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div class="example-button-row">
        <button mat-flat-button color="accent">Enviar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
