<mat-form-field appearance="fill">
  <mat-label>Que servicios brinda</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Reservacion standar</mat-label>
  <mat-select>
    <mat-option value="one">Si</mat-option>
    <mat-option value="two">No</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Reservación con decoración</mat-label>
  <mat-select>
    <mat-option value="one">Si</mat-option>
    <mat-option value="two">No</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Reservación con orden lista</mat-label>
  <mat-select>
    <mat-option value="one">Si</mat-option>
    <mat-option value="two">No</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Reservación para grandes eventos (Entre 10 y 30 personas) </mat-label>
  <mat-select>
    <mat-option value="one">Si</mat-option>
    <mat-option value="two">No</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Diligencie sus Recomendaciones</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
