<mat-form-field appearance="fill">
  <mat-label>Seleccion su servicio</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Tipo de servicio</mat-label>
  <mat-select>
    <mat-option value="one">Reservacion</mat-option>
    <mat-option value="two">Domicilio</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Seleccione su Restaurante</mat-label>
  <mat-select>
    <mat-option value="one">Nombre del restaurante1</mat-option>
    <mat-option value="one">Nombre del restaurante2</mat-option>
    <mat-option value="one">Nombre del restaurante3</mat-option>
    <mat-option value="one">Nombre del restaurante4</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Seleccione su Plato</mat-label>
  <mat-select>
    <mat-option value="one">Nombre del Plato1</mat-option>
    <mat-option value="one">Nombre del Plato2</mat-option>
    <mat-option value="one">Nombre del Plato3</mat-option>
    <mat-option value="one">Nombre del Plato4</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Diligencie sus Recomendaciones</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
